<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Passageiro</title>
    <%- include("../partials/header.ejs") %>
</head>

<body>

    <div class="container">

        <p style="font-size: 25px">Detalhes</p>

        <div> <b> Código: </b> <%= resultado.codigo %> </div>
        <div> <b> CPF: </b> <%= resultado.cpf %> </div>
        <div> <b> Nome: </b> <%= resultado.nome %> </div>
        <div> <b> Data de Nascimento: </b> <%= resultado.datanasc %> </div>
        <div> <b> E-mail: </b> <%= resultado.email %> </div>

        <div>
            </br> <a class="btn btn-purple" href="/passageiro">Voltar</a>
        </div>
        
    </div>
    
</body>

<foot>
    <%- include("../partials/footer.ejs") %>
</foot>

</html>