<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar Usu치rios</title>
    <%- include("../partials/header.ejs") %>
</head>

<body>
    
    <div class="container">

        <p style="font-size:40px;"> Usu치rios Cadastrados </p>

        <% if (salvo != undefined){ %>
            <div style="text-align:center; background-color:green; color:white">
                Usu치rio cadastrado com sucesso!
            </div>
        <%}%>

        <% if (atualizado != undefined){ %>
            <div style="text-align:center; background-color:gold; color:white">
                Dados atualizados com sucesso!
            </div>
        <%}%>

        <% if (removido != undefined){ %>
            <div style="text-align:center; background-color:brown; color:white">
                Usu치rio removido com sucesso!
            </div>
        <%}%>

        <table class="table">

            <tr>
                <th>E-mail</th>
                <th>Nome</th>
                <th></th>
                <th></th>
            </tr>

            <% for(let usuario of listaUsuario) {  %>
                <tr>
                    <td>
                        <%= usuario.email%>
                    </td>
                    <td>
                        <%= usuario.nome%>
                    </td>
                    <td>
                        <a class="btn btn-purple" href="/usuario/<%= usuario.email %>">Detalhes</a>
                    </td>
                </tr>

            <% } %>

        </table>

        <div>
            <a class="btn btn-purple" href="/" >Voltar</a>
        </div>

    </div>

</body>

<foot>
    <%- include("../partials/footer.ejs") %>
</foot>


</html>